body{
  background: #FFD4D3;   
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input{
  background: rgb(252, 220, 225);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor:text;
  margin: 10px;
  text-align: center;
  font-size: 21px;        
}
button{
  background: rgb(224, 58, 86);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor:pointer;
  color: rgba(0, 0, 0, 0.808)
}
button {
  transition-duration: 0.4s;
}
button:hover {
  background-color:rgba(209, 34, 34, 0.856);
  color: white;
  /* padding: 12px; */
}
#resultado {
  background: #FFD4D3;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 18px;
}
.valido{ 
  color: rgba(0, 94, 0, 0.808);
}
.invalido {
  color: rgba(104, 0, 0, 0.808);
}
.aviso {
  color: rgba(0, 0, 0, 0.808);
}
#validador-cpf{
  background-color: #ffb7b7;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0 0 0 / 30%);
  transition: 0.4s;
}
#validador-cpf:hover{
  padding: 30px;
}